<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Floor Heater</h4>
      <div class="card-body">
        <div class="btn-group floor-heater" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="floor_heater_off" autocomplete="off" checked>OFF
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="floor_heater_on" autocomplete="off">ON
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
