<div class="container-fluid">
  <div class="row">
    <div class="col col-xs-6">
      <div class="card">
        <h4 class="card-header">Floor Heater</h4>
        <div class="card-body">
          <div class="btn-group floor-heater" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="floor_heater_off" autocomplete="off" checked>OFF
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="floor_heater_on" autocomplete="off">ON
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-xs-6">
      <div class="card">
        <h4 class="card-header">Thermometer</h4>
        <div class="card-body">
          <div class="row">
            <div class="col col-xs-6 text-center">
              <span class="temperature"></span><span> ℃</span>
            </div>
            <div class="col col-xs-6 text-center">
              <span class="humidity"></span><span> %</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
